@page
@model ChangePasswordModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Açarsözi üýtgetmek"].Value;
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<div class="setting__name">@Localizer["Açarsözi üýtgetmek"]</div>
<partial name="_StatusMessage" for="StatusMessage" />
<form method="post">
    <div class="authorization__field">
        <div asp-validation-summary="All" class="validation-error"></div>
        <div class="password-group">
            <input asp-for="Input.OldPassword" class="inpt" id="oldassword" required>
            <label for="oldassword" class="password__subtitle">@Localizer["Köne açarsöz"]</label>
        </div>
        <div class="password-group">
            <input asp-for="Input.NewPassword" class="inpt" id="newPassword" required>
            <label for="oldassword" class="password__subtitle">@Localizer["Täze açarsöz"]</label>
        </div>
        <div class="password-group">
            <input asp-for="Input.ConfirmPassword" class="inpt" id="confirmPassword" required>
            <label for="oldassword" class="password__subtitle">@Localizer["Açarsözi tassyklamak"]</label>
        </div>
        <div class="authorization__button">
            <input type="submit" id="submit" value="@Localizer["Açarsözi täzelemek"]" class="column button active">
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}