@page
@model Disable2faModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Iki faktor (2FA) hasaba alyşy öçürmek"].Value;
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h2>@ViewData["Title"]</h2>

<div class="alert warning" role="alert">
    <p>
        <strong>@Localizer["Bu amal diňe 2FA iki faktorly hasaba alyşy öçürýär"]</strong>
    </p>
    <p>
        @Localizer["2FA öçürilmegi autentifikator goşundylarda ulanylýan açarlary üýtgetmeýär. Eger siz açary üýtgetmekçi bolsaňyz, authenticator goşundysynda siz şulary berjaý etmelisiňiz"] <a asp-page="./ResetAuthenticator">@Localizer["Hakykylygyň barlagynyň açarlaryny pozmak"].</a>
    </p>
</div>

<div>
    <form method="post" class="form-group">
        <div class="reset__button">
            <button type="submit" id="reset-authenticator-button">@Localizer["2FA öçürmeli"]</button>
        </div>
    </form>
</div>
