@page
@model GenerateRecoveryCodesModel
@inject IViewLocalizer  Localizer
@{
    ViewData["Title"] = Localizer["Iki faktorly hasaba alyş (2FA) dikeldiş kodlaryny döretmek"].Value;
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
<div class="alert warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>@Localizer["Şu kodlary howpsuz ýerde saklaň"].</strong>
    </p>
    <p>
        @Localizer["Eger siz öz enjamyňyzy ýitirip, dikeldiş kodlaryňyz bolmasa, onda öz akkauntyňyza girişden mahrum bolarsyňyz"].
    </p>
    <p>
        @Localizer["Täze dikeldiş kodlaryny döretmek hakykylygyny barlaýyş goşundylarynda açarlary üýtgetmeýär. Eger siz açary üýtgetmekçi bolsaňyz"]
        @Localizer["authenticator goşundysynda ulanylýan açarlary üýtgetmekçi bolsaňyz, onda"] <a asp-page="./ResetAuthenticator">@Localizer["hakykylygyň barlagy açarlaryny pozmalysyňyz"].</a>
    </p>
</div>
<div>
    <form method="post" class="form-group">
        <div class="reset__button">
            <button type="submit" id="reset-authenticator-button">@Localizer["Dikeldiş kodlaryny döretmek"]</button>
        </div>
    </form>
</div>