@page
@model ProfileModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Ulanyjynyň profili"].Value;
    ViewData["ActivePage"] = ManageNavPages.UserProfile;
}

<div class="setting__name">@Localizer["Ulanyjynyň profili"]</div>
<partial name="_StatusMessage" for="StatusMessage" />
<form method="post" enctype="multipart/form-data">
    <div class="profile_field">
        <div asp-validation-summary="All" class="validation-error"></div>
    <div class="user_photo">
        <div class="form-group">
            <label class="label">
                  <img src="data:image;base64,@Model.Input.PersonalPhoto" class="round" />
                <input hidden accept=".png,.jpeg,.jpg" asp-for="Input.Photo" type="file" onchange="getImages(this)" class="img-hide">
            </label>
        </div>
    </div>
        <div class="password-group">
            <input asp-for="Input.UserName" class="inpt active" id="userName" required disabled>
            <label for="profile" class="profile__subtitle ">@Localizer["Ulanyjynyň ady"]</label>
        </div>
        <div class="password-group">
            <input asp-for="Input.Phone" class="inpt" id="phone">
            <label for="profile" class="profile__subtitle">@Localizer["Telefon"]</label>
        </div>
        <div class="password-group">
            <input asp-for="Input.Email" class="inpt" id="email">
            <label for="profile" class="profile__subtitle">@Localizer["Elektron Poçta"]</label>
        </div>
        <div class="authorization__button">
            <input type="submit" id="submit" value="@Localizer["Profili täzelemek"]" class="column button active">
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}