@page
@model LoginModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Hasaba alyş"].Value;
    string ErrorClass = ModelState.IsValid ? string.Empty : "error";
}

@section SubTitle{
    <div class="page__subtitle">
        <p>
            @Localizer["Portala girmek üçin"] <label asp-for="Input.UserName">@Localizer["Ulanyjy adyňyzy"]</label>
            @Localizer["we"] <label asp-for="Input.Password">@Localizer["Açarsözüňizi"]</label>,
            @Localizer["girizmegiňizi soraýarys"]
        </p>
    </div>
}

<form method="post">
    <div class="authorization__field">
        <div asp-validation-summary="All" style="color:red;" class="error"></div>
        <div class="authorization__log">
            <div class="login-group @ErrorClass">
                <input asp-for="Input.UserName" class="inpt" required placeholder="@Localizer["Ulanyjynyň ady"]">
            </div>
            <div class="password-group @ErrorClass">
                <input asp-for="Input.Password" class="inpt" required placeholder="@Localizer["Açarsöz"]">
            </div>
            <input asp-for="Input.RememberMe" type="checkbox" id="rememberMe">
            <label class="checked" for="rememberMe">@Localizer["Meni ýatda sakla"]</label>
            <div class="authorization__button">
                <input type="submit" id="submit" value="@Localizer["Girmek"]" class="column button active">
                <a asp-page="./ForgotPassword">@Localizer["Açarsözüňizi unutdyňyzmy?"]</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
