@page
@model DSEU.UI.Areas.Identity.Pages.Account.MustChangePasswordModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Täze açarsözi belläň"].Value;
    string ErrorClass = ModelState.IsValid ? string.Empty : "error";
}

@section SubTitle{
    @await Html.PartialAsync("_PageSubTitle", @Localizer["Açarsözi çalyşmak gerek."])
}

<form method="post">
    <div class="authorization__field">
        <div asp-validation-summary="All" style="color:red;" class="error"></div>
        <div class="authorization__log">
            <div class="password-group @ErrorClass">
                <input asp-for="Input.Password" class="inpt" required placeholder="@Localizer["Açarsöz"]">
            </div>
            <div class="password-group @ErrorClass">
                <input asp-for="Input.ConfirmPassword" class="inpt" required placeholder="@Localizer["Açarsözi tassyklamak"]">
            </div>
            <div class="authorization__button">
                <input type="submit" id="submit" value="@Localizer["Açarsözi üýtgetmek"]" class="column button active">
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}