@page
@model ResetPasswordModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Açarsözi pozmak"].Value;
    string ErrorClass = ModelState.IsValid ? string.Empty : "error";
}
<form method="post">
    <input type="hidden" asp-for="Input.Code" />
    <div class="authorization__field">
        <div asp-validation-summary="All" style="color:red;" class="error"></div>
        <div class="authorization__log">
            <div class="login-group @ErrorClass">
                <input asp-for="Input.UserName" class="inpt" required placeholder="@Localizer["Ulanyjynyň ady"]">
            </div>
            <div class="password-group @ErrorClass">
                <input asp-for="Input.Password" class="inpt" required placeholder="@Localizer["Açarsöz"]">
            </div>
            <div class="password-group @ErrorClass">
                <input asp-for="Input.ConfirmPassword" class="inpt" required placeholder="@Localizer["Açarsözi tassyklamak"]">
            </div>
            <div class="authorization__button">
                <input type="submit" id="submit" value="@Localizer["Pozmak"]" class="column button active">
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

